body{
    background-color: #4b8a20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor{
    margin: auto;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
}
.sub{
    font-size: 14px;
    color: #8c9489;
}
.sigue{
    font-size: 15px;
    color: #747a8a;
    padding-top: 35px;
}
.arrow-down{
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #fff;
}
main{
    float: left;
}
nav{
    overflow: hidden;
    background-color: #2c2c2c;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.linea{
    border-bottom: 6px solid #ff9c04;
    width: 300%;
}
nav li a {    
    text-decoration: none;
    color: #f2f2f2;
    background-color: #2c2c2c;
    display: block;
    padding: 10px 15px;
    font-size: 17px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menuprincipal{
    float: left;
}
nav li a:hover{
    background-color: #222222;
    color: #fff;
}
nav li ul{
    position: absolute;
    display: none; 
}
nav li:hover > ul{
    display: block;
}
 /*Cuerpo de noticia*/
article{
    width: 100%;  
    margin-top: 50px;
    text-align: justify;
    float: left;
    
}
article img{
    width: 100%;
}

.sigue{
    font-size: 16px;
}
.siguenos{
    width: 100%;
    max-width: 900px;
}
.siguenos img{
    padding: 4px;
}
.contenido{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 3%;
    padding-right: 60px;
    gap: 5%;
    text-align: justify;
}
.text{
    padding-top: 20px;
    padding-bottom: 20px;
}
.recomendaciones{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    cursor: pointer;
}
.recomendaciones img{
    padding: 10px;
    height: 50px;
    width: 80px;
    object-fit: cover;
    max-width: 500px;
}
.te{
    color: #939ba8;
    padding-left: 8px;
}



/*FORMULARIO*/
.formulario{
    background: #ebecf0;
    margin-top: 20px;
}
fieldset{
    background-color: #ebecf0;
    border: 20px;
    font-size: 13px;
}
.escribenos{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
label{
    font-weight: 500;
    color: #413c42;
}
input{
    width: 100%;
    height: 25px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
textarea{
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
fieldset{
    background-color: #ebecf0;
}
footer{
    width: 100%;
    height: 200px;
    color: #fff;
}
.button{
    background-color: #39870d;
    color: #fff;
    width: 100px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px ;
    border: #39870d;
}

/*Cuadro*/
table{
    border-collapse: collapse;
}
tbody{
    font-size: 8.5px;
}
thead{
    background-color: #4aacc5;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
th {
    border: 1px solid #71b6c6;
    text-align: left;
    padding: 8px;
    text-align: justify;
}
tr:nth-child(even) {
    background-color: #c8f2fe;
}
tbody:nth-child(even) {
    background-color: #9dd8e8;
}

/*TENDENCIAS*/
footer{
    background-color: #111111;
    max-width: 100%;
    height: 450px;
    width: 100%;
}
.parte1{
    display: flex;
    width: 95%;
    border-bottom: 1px solid #333335;
    padding-top: 30px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 20px;
}
.parte1 img{
    margin-right: 550px;
    margin-left: 5px;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 12px;
    width: 30%;
}
.parte1 a{
    color: #cad0cc;
    background-color: #323335;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}
.lista{
    width: 153px;
    margin: 30px 0 0 25px;
}
.lista h4{
    color: #c8cac5;
    font-size: 16px;
    text-transform: uppercase;
}
.lista ul{
    color: #4a4a48;
    list-style-type: none;
    margin: 5px 0;
}
.lista li{
    padding: 10px 0;
    cursor: pointer;
}
.lista ul li a{
    color: #3f413c;
    text-decoration: none;
}
.lista li a:hover{
    color: #616669;
}

.arrow{
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
}
.arrow-down-n{
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent #fff;
}