*{
    box-sizing: border-box;
}
body{
    background-color: #4b8a20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    margin: auto;
}
header img{
    width: 100%;
    max-width: 900px;
}


/*ENCABEZADO*/
nav{
    overflow: hidden;
    background-color: #2c2c2c;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {    
    text-decoration: none;
    color: #f2f2f2;
    background-color: #2c2c2c;
    display: block;
    padding: 10px 15px;
    font-size: 15px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menuprincipal{
    float: left;
}
nav li a:hover{
    background-color: #222222;
    color: #fff;
}
nav li ul{
    position: absolute;
    display: none; 
}
nav li:hover > ul{
    display: block;
}
.linea{
    border-bottom: 4px solid #ff9c04;
    width: 400%;
}


/*CONTENIDO*/
.contenido{
    display: grid;
    grid-template-columns: 50% 45%;
    max-width: 900px;
    padding: 3%;
    gap: 5%;
    text-align: justify;
}
main img{
    width: 100%;
    max-width: 500px;
}
.sub{
    font-size: 14px;
    color: #8c9489;
}
.text{
    padding-top: 20px;
    padding-bottom: 20px;
}
main article h1{
    margin-top: 20%;
}


/*CUADRO*/
table{
    border-collapse: collapse;
    width: 100%;
}
tbody{
    font-size: 8.5px;
}
thead{
    background-color: #4aacc5;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
th {
    border: 1px solid #71b6c6;
    text-align: left;
    padding: 5px;
    text-align: justify;
}
tr:nth-child(even) {
    background-color: #c8f2fe;
}
tbody:nth-child(even) {
    background-color: #9dd8e8;
}


/*SIGUENOS*/
.siguenos{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    width: 100%;
    max-width: 300px;
}
.sigue{
    font-size: 14px;
    color: #747a8a;
    padding-top: 35px;
}
.siguenos img{
    padding: 4px;
    width: 80%;
}


/*TE RECOMENDAMOS*/
.recomendado{
    color: #939ba8;
}
.recomendaciones{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    cursor: pointer;
}
.recomendaciones img{
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
.recomendaciones img{
    width: 90px;
    object-fit: cover;
}


/*FORMULARIO*/
.formulario{
    background: #ebecf0;
    margin-top: 20px;
}
fieldset{
    background-color: #ebecf0;
    border: 20px;
    font-size: 13px;
}
.escribenos{
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
}
label{
    font-weight: 500;
    color: #413c42;
}
input{
    width: 100%;
    height: 20px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
textarea{
    width: 100%;
    height: 80px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
fieldset{
    background-color: #ebecf0;
}
.button{
    background-color: #39870d;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: #39870d;
    display: flex;
    justify-content: center;
}


/*FLECHAS*/
.arrow-down{
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #fff;
}
.arrow{
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
}
.arrow-down-n{
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent #fff;
}


/*PIE DE PAGINA*/
footer{
    background-color: #111111;
    width: 100%;
    color: white;
    padding: 10px;
}
.pie_pagina{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 5%;
    margin: auto;
    width: 90%;
    max-width: 900px;
    grid-template-rows: auto;
}
.lista h4{
    color: #c8cac5;
    font-size: 10px;
    padding-left: 20px;
}
.lista ul{
    color: #4a4a48;
    font-size: 9px;
}
.lista li{
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}
.lista ul li a{
    color: #3f413c;
    text-decoration: none;
}
.lista li a:hover{
    color: #616669;
}

/*FOOTER*/
.footer{
    width: 100%;
    border-bottom: 1px solid #333335;
    display: grid;
    grid-template-columns: 80% 20%;
}
.footer a{
    color: #cad0cc;
    background-color: #323335;
    font-size: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}



@media screen and (max-width: 1500px){
    .contenido{
        width: 100%;
    }
    main img{
        width: 60%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    main img{
        width: 100%;
    }
}
@media screen and (max-width: 1150px){
    .contenido{
        width: 100%;
    }
    main img{
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 900px){
    .contenido{
        width: 100%;
        display: block;
    }
    table{
        width: 100%;
        max-width: 900px;
    }
}
